$primary: #fff;

// sidebar
$bg-sidebar: #312450;
$bg-link: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b565dab9 0%, #cf6cc8c0 33%, #ee609bd0 66%, #ee609bcc 100%);

// wrapper-hero
$bg-wrapper-hero: url('../assets/img/bg-hero.png');
$hero-paragraph: #B6AAD7;

// galery
$bg-galery-item1: #5052B5;
$bg-galery-item2: #4C4EAC;
$bg-galery-item3: #484AA3;

// about
$bg-about: #B74E91;
$bg-items: #BB5797;

// contact
$bg-contact: #5E42A6;

// footer
$bg-footer: #493382;
